<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Food Online</title>
    <link rel="stylesheet" href="./../stylesheets/menu.css" type="text/css" charset="utf-8" />
  </head>

<body>

  <header>
    <div class="buttons">

      <div class='onmain'>
          <form method="GET" action="/mainmenu/onMain">
            <input type="submit" id="button" value="На главную">
          </form>
      </div>
      
      <div class="username">
        <h1><%=username.login%></h1>
      </div>

      <div class='logout'>
          <form method="POST" action="/mainmenu/logout">
            <input type="submit" id="button" value="Выйти">
          </form>
      </div>

    </div>

  </header>

  <h1><%=message%></h1>


    <form action="/mainmenu/insert-categorie" method="POST">
      <div class="input">
        <input type="text" name="name" placeholder="Имя категории">
        <input type="submit" value="Добавить" id="button" style="height: 8%; max-height: 30px">
      </div>
    </form>

  <form action="/mainmenu/insert-dish" method="POST">
    <input type="text" name="name" placeholder="Имя категории">
    <input type="text" name="dishName" placeholder="Имя блюда">
    <input type="text" name="description" placeholder="Описание блюда">
    <input type="text" name="price" placeholder="Цена блюда">
    <input type="submit" value="Добавить" id="button" style="height: 8%; max-height: 30px">    
  </form>

  <form action="/mainmenu/delete-categorie" method="POST">
    <div class="input">
      <input type="text" name="name" placeholder="Имя категории для удаления">
      <input type="submit" value="Удалить" id="button" style="height: 8%; max-height: 30px">
    </div>
  </form>

  <form action="/mainmenu/delete-dish" method="POST">
    <div class="input">
      <input type="text" name="name" placeholder="Имя категории">
      <input type="submit" value="Удалить" id="button" style="height: 8%; max-height: 30px"> 
      <input type="text" name="name" placeholder="Имя блюда для удаления">
      <input type="submit" value="Удалить" id="button" style="height: 8%; max-height: 30px">
    </div>
  </form>


  <form action="/mainmenu/change-categorie" method="POST">
    <div class="input">
      <input type="text" name="name" placeholder="Название">
      <input type="text" name="newName" placeholder="Новое Название">

      <input type="submit" value="Изменить категорию" id="button" style="height: 8%; max-height: 30px">
      </div>
  </form>
  <form action="/mainmenu/change-dish" method="POST">
    <div class="input">
      <input type="text" name="name" placeholder="Название">
      <input type="text" name="newName" placeholder="Новое Название">

      <input type="submit" value="Изменить блюдо" id="button" style="height: 8%; max-height: 30px">
      </div>
  </form>

  <form action="/event/delete-event" method="POST">
    <div class="input">
      <input type="text" name="userName" placeholder="Имя пользователя">
      <input type="date" name="start" placeholder="Начало">
      <input type="date" name="end" placeholder="Конец">
      <input type="submit" value="Удалить заказ" id="button" style="height: 8%; max-height: 30px">

    </div>

  </form>
  

</body>
</html>
