<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Food Online</title>
  <link rel="stylesheet" href="./../bootstrap/css/bootstrap-theme.min.css" type="text/css" />

  <link rel="stylesheet" href="./../fullcalendar/fullcalendar.css" type="text/css"/>
  <link rel="stylesheet" href="./../stylesheets/calendar.css" type="text/css" />
  <link rel="stylesheet" href="./../fullcalendar/fullcalendar.print.css" type="text/css" media="print"/>
  <link rel="stylesheet" href="./../stylesheets/menu.css" type="text/css" charset="utf-8" />

  <script src="./../fullcalendar/lib/jquery.min.js" type="text/javascript"></script>
  <script src="./../javascripts/jquery-ui.min.js" type="text/javascript"></script>

</head>
<body>
  <header>
      <div class="buttons">

          <div>
            <form method="GET" action="/mainmenu/onMain">
              <input type="submit" id="button" value="На главную">
            </form>
          </div>
          

          <div class="username">
              <h1><%=user.login%></h1>
          </div>

          <% if(!user.role) {%>
            <div>
              <form method="GET" action="/mainmenu/addPage" class="admin_form">
                <input type="submit" value="Панель администратора" id="button">
              </form>
          </div>
         <% } %>

         <div class='onmain'>
            <form method="post" action="/mainmenu/logout">
              <input type="submit" id="button" value="Выйти">
            </form>
          </div>
          

          
      </div>
   
  </header>
  <div class="box">
      <div id="calendar"></div>
      <div class="container">  
          <form id="contact" method="POST" action="/event/insert-event">
            <h3>Оформить заказ</h3>
            <h4>Выберите даты</h4>
            <fieldset>
              <input  name='title' id='title' placeholder="Заказ" type="text">
            </fieldset>
            <fieldset>
              <input  name='start' id='start' placeholder="Начало" type="text" >
            </fieldset>
            <fieldset>
              <input name='end' id='end' placeholder="Конец" type="text">
            </fieldset>
            <fieldset>
              <button name="submit" type="submit" id="contact-submit" >Заказать</button>
            </fieldset>
          </form>
    
      </div>
  </div>
  
  <!-- <div id="dialog">
    <form method="POST" action="/mainmenu/eventToDb">
  <div class="form-group">
    <label for="order">Заказ</label>
    <input type="text" class="form-control" id='title' name='title' placeholder="Заказ">
  </div>
  <div class="form-group">
    <label for="date">Начало</label>
    <input type="text" class="form-control datepicker" id='start' name='start' placeholder="Дата">
  </div>
  <div class="form-group">
    <label for="date">Конец</label>
    <input type="text" class="form-control datepicker" id='end' name='end' placeholder="Дата">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
  </div> -->
  

</body>
<script src="./../fullcalendar/lib/moment.min.js" type="text/javascript"></script>
<script src="./../fullcalendar/fullcalendar.js" type="text/javascript"></script>
<script src="./../javascripts/script.js" type="text/javascript"></script>

</html>
