<html>

<head>
    <link rel="stylesheet" href="./../../stylesheets/menu.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="./../../stylesheets/dish.css" type="text/css" charset="utf-8" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->

<body>
    <header>
        <div class="buttons">

            <div class='onmain'>
                <form method="GET" action="/mainmenu/onMain">
                    <input type="submit" id="button" value="На главную">
                </form>
            </div>
            <% if(!user.role) {%>

            <div>
                <form method="GET" action="/mainmenu/addPage" class="admin_form">
                    <input type="submit" value="Панель администратора" id="button">
                </form>
            </div>
            <% } %>




            <div class="username">
                <h1>
                    <%=user.login%>
                </h1>
            </div>

            <div class='onmain'>
                <form method="post" action="/mainmenu/logout">
                    <input type="submit" value="Выйти" id="button">
                </form>
            </div>
        </div>
    </header>
    <h1>
        <%=dish%>
    </h1>

    <% comments.forEach(function(commentsInf){%>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

            </div><!-- /col-sm-12 -->
        </div><!-- /row -->
        <div class="row">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->

            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>
                            <%=commentsInf.user_id.login%></strong> <span class="text-muted"><%=commentsInf.time%></span>
                    </div>
                    <div class="panel-body">
                        <%=commentsInf.text%>
                    </div><!-- /panel-body -->
                    
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
            <%if(user.login == commentsInf.user_id.login){%>
            <form method='POST' action='/mainmenu/dishes/delete_comments?comment_id=<%=commentsInf._id%>&categorie=<%=categorie%>&dish=<%=dish%>'>
                <input type="submit" value="Удалить" id="button" style="height: 5%;">
            </form>
            <%}%>
        </div><!-- /row -->

    </div><!-- /container -->
    <%})%>

    <div class="send_comments">
        <form  method="POST" action="/mainmenu/dishes/comments?categorie=<%=categorie%>&dish=<%=dish%>">
            <input name="comments"  type="text">
            <input type="submit" value="Отправить" id="button" style="height: 5%;">
        </form>
    </div>

</body>

</html>