<!DOCTYPE html>
<html lang="en">

  <head>
      <link rel="stylesheet" href="./../stylesheets/menu.css" type="text/css" charset="utf-8" />
      <link rel="stylesheet" href="./../stylesheets/dish.css" type="text/css" charset="utf-8" />
  </head>

  <body>
      <header>
          <div class="buttons">
            
              <div class='onmain'>
                  <form method="GET" action="/mainmenu/onMain">
                    <input type="submit" id="button" value="На главную">
                  </form>
              </div>
              
            <% if(!user.role) {%>
              <div class="admin_form">   
                <form method="GET" action="/mainmenu/addPage" >
                  <input type="submit" value="Панель администратора" id="button">
                </form>      
            </div>
            <% } %>

              
      
              
            <div class="username">
                <h1><%=user.login%></h1>
            </div>
              
            <div class='onmain'>
                <form method="post" action="/mainmenu/logout">
                  <input type="submit"  value="Выйти" id="button">
                </form>
            </div>
          </div>
      </header>
      <div class="Menu" id="<%=categories.name%>">
       <h1><%=categories.name%></h1>

            <% dishes.forEach(function(dishInf){%>
              
            <div class="dish">
              <p><h1><%=dishInf.nameDish%></h1></p>
              <form method="POST" action="/like/insert-dishLike?dish=<%=dishInf.nameDish%>&categorie=<%=categories.name%>">
              <input type="submit"  class="likeButton" value="" ><%=dishInf.likes.length%>
              </form>
              <ul id="desc">
                <li>
                  <%=dishInf.description%>
                </li>
                <li>
                  <%=dishInf.price%>
                </li>
                <a href="/mainmenu/dishes/comments?categorie=<%=categories.name%>&dish=<%=dishInf.nameDish%>" id="button">Комментировать</a>
              </ul>

            </div>

            <%})%>

        </div>
      </div>
  </body>

</html>
