<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <link rel="stylesheet" href="stylesheets/login.css" />
</head>

<body>

  <form class="login" class="login" method="post" action="/auth" enctype="multipart/form-data">
    <p>
      <label for="login">Логин:</label>
      <input name="login" type="email" />
    </p>

    <p>
      <label for="password">Пароль:</label>
      <input name="password" type="password" />
    </p>

    <p class="login-submit">
      <button class="login-button" type="submit">Войти</button>
    </p>

    <div class="options" style="display:flex;">
        <div class="forgot-password">
          <a href="/reset_pass">Забыл пароль?</a></div>
        <div class="register">
          <a href="/registr">Регистрация</a>
        </div>
    </div>

    <div class="info"> 
        <h1><%=info%></h1> 
    </div>  
  </form>
</body>
</html>
