<html <!DOCTYPE html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Food Online</title>
    <link rel="stylesheet" href="./../stylesheets/menu.css" type="text/css" charset="utf-8" />
    <link href="./../bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="./../stylesheets/thumbnail-gallery.css" rel="stylesheet"/>
  </head>

<body>

  <header>
    <div class="buttons">

      <div>
        <% if(!user.role) {%>
        <form method="GET" action="/mainmenu/addPage" class="admin_form">
          <input type="submit" value="Панель администратора" id="button">
        </form>
        <% } %>
      </div>


      <div class="username">
        <h1>
          <%=user.login%>
        </h1>
      </div>

      <div class='onmain'>
        <form method="post" action="/mainmenu/logout">
          <input type="submit" value="Выйти" id="button">
        </form>
      </div>

    </div>
  </header>

  <form method="GET" action="mainmenu/calendar">
    <input type="submit" value="Календарь заказов" id="button" style="height: 15%; max-height: 50px">
  </form>


  <div class="container">
    <div class="row text-center text-lg-left">
      <% categories.forEach(function(elem){%>
      <div class="col-lg-3 col-md-4 col-xs-6" >
        <a href="/mainmenu/dishes?categorie=<%=elem.name%>" class="d-block mb-4 h-100">
          <h1 class="category_name"><%=elem.name%></h1></a>
      </div>
      <%})%>
    </div>
  </div>

  <form method="GET" action="mainmenu/most-liked?categories=<%=categories%>">
    <input type="submit" value="Наиболее лайкнутые" id="button" style="height: 15%; max-height: 50px" onclick='changeClass()'>
  </form>
 

    <h1>Best dish: <%=bestDish%></h1>
    <h1>Best categorie: <%=bestCategorie%></h1>


  


  


  <script src="./../javascripts/jquery.min.js"></script>
  <script src="./../javascripts/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="./../javascripts/script.js"></script>
</body>

</html>