<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <link rel="stylesheet" href="stylesheets/login.css" />
</head>

<body>
    
    <form class="login" method="post" action="/registr" enctype="multipart/form-data">
        
        <p>
            <label for="login">Логин:</label>
            <input name="login" type="email" />
        </p>
        <p>
            <label for="password">Пароль:</label>
            <input name="password" type="password" />
        </p>
        <p>
            <label class="confirm_pass" for="confirm_password">Подтвердите пароль:</label>
            <input name="confirm_password" type="password" />
        </p>
        <p class="login-submit">
        <button class="login-button" type="submit">Войти</button>
        </p>
        <div class="info"> 
                <h1><%=info %></h1> 
        </div>
    </form>
    

</body>
</html>
