.Menu
{
  width: 90%;
  float: left;
  margin: 3%;
  display: flex;
  justify-content: space-between;
  flex-basis: row;

}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Menu > h1{
  font-family: Comic Sans MS;
}
