header {
  width: 100%;
  height: 9%;
  background-color: #afa9a468;
  min-height: 64px;
  display: block !important;
}

body {
  margin: 0;
  background-image: url("./../images/bg1.jpg");
}

.likeButton {
  width: 25px;
  height: 21px;
  background-image: url("https://img.icons8.com/windows/50/000000/facebook-like.png");
  background-size: cover;
}

#home {
  color: black;
  text-align: center;
  font-size: 200%;
  left: 3%;
  top: 2%;
}

#home:hover {
  color: rgb(179, 173, 173);
}

#desc {
  margin-top: 0;
}

.Menu {
  float: left;
  margin: 3%;
  flex-basis: row;

}

.Menu>div {
  font-family: Comic Sans MS;
  float: left;
  font-size: 150%;
}

.Menu ul {
  margin-top: 20%;
  font-family: Comic Sans MS;
}

.Menu .title::before {
  font-size: 50%;
  color: green;
}

.Menu.open ul {
  display: block;
}

.onmain {}

.buttons {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.username>h1 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.admin_form {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0%;

}

#button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  height: 69%;
  border-radius: 14px;
}

.col-lg-3, .col-md-4 {
  height: 10%;
}
.col-lg-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 20%;
}

#button {
  padding: 5px 32px;
}

.send_comments {
  position: fixed;
  top: 90%;
  right: 14%;
  width: 50%;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.category_name{
  color: black;
  text-align: center!important;
}